*
{
  margin: 0;
  padding: 0;
}

body
{
  overflow: auto;
}

#background
{
  width: 100%;
  height: 314vh;
  position: absolute;
}

.top
{
    position: relative;
    text-align: center;
    background: gray;
    padding: 15px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.0);
    font-family: monospace;
}

.navigation
{
  border: 10px;
  text-align: center;
  position: relative;
  font-family: monospace;
  top: 70px;
  font-size: 16px;
}

.recommended
{
    text-align: center;
    background: gray;
    padding: 30px;
    width: 300px;
    position: relative;
    top: 400px;
    left: 1300px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.64);
    font-family: monospace;
    font-size: 16px;
}

.other
{
    text-align: center;
    background: gray;
    padding: 30px;
    width:  300px;
    position: relative;
    top: 1200px;
    left: 1300px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.64);
    font-family: monospace;
    font-size: 18px;
}

.featured
{
  top: -600px;
  left: 175px;
  background: gray;
  padding: 30px;
  width: 750px;
  margin-right: auto;
  position: relative;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.0);
  font-family: monospace;
  text-align: center;
}

.firstblog
{
  text-align: left;
  background: gray;
  padding: 30px;
  width: 750px;
  margin-right: auto;
  position: relative;
  left: 175px;
  bottom: 575px;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.64);
  font-family: monospace;
}

.leafimage
{
  height:327px;
  width:582px;
}

.secondblog
{
  text-align: left;
  background: gray;
  padding: 30px;
  width: 750px;
  margin-right: auto;
  position: relative;
  left: 175px;
  bottom: 575px;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.64);
  font-family: monospace;
  overflow: auto;
}

.spelunkyimage
{
  height:327px;
  width:582px;
}

.thirdblog
{
  text-align: left;
  background: gray;
  padding: 30px;
  width: 750px;
  margin-right: auto;
  position: relative;
  left: 175px;
  bottom: 575px;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.64);
  font-family: monospace;
}

footer
{
  position: relative;
  text-align: center;
  bottom: 300px;
  font-family: monospace;
  font-size: 18px;
  color: ;
}

h1
{
  font-size: 48pt;
}

h2
{
  font-size: 16pt;
}

h4
{
  font-size: 28pt;
}

h5
{
  font-size: 12pt;
}

video
{
  width: 500px;
  height: 300px;
  left: 700px;
}
