.top
{
  text-align: center;
   background: gray;
    padding: 30px;
    width:750px;
    margin-left: auto;
    margin-right: auto;
}

.navigation
{
border: 50px;
text-align: center;
}

body
{
  background-color:  #453f3c;
}

.recommended
{
  text-align: center;
   background: gray;
    padding: 30px;
    width:300px;
    margin-left: auto;
    position: relative;
    top:100px;
}

.other
{
  text-align: center;
   background: gray;
    padding: 30px;
    width:300px;
    margin-left: auto;
    position: relative;
    top:500px;
}


.firstblog
{
  text-align: left;
  background: gray;
  padding: 30px;
  width:750px;
  margin-right: auto;
  position: relative;
  left:175px;
  bottom:175px;
}

.secondblog
{
  text-align: left;
  background: gray;
  padding: 30px;
  width:750px;
  margin-right: auto;
  position: relative;
  left:175px;
  bottom:0px;
}


.thirdblog
{
  text-align: left;
  background: gray;
  padding: 30px;
  width:750px;
  margin-right: auto;
  position: relative;
  left:175px;
  bottom:-175px;
}

footer
{
  position: relative;
  text-align: center;
  bottom: -250px;
  font-family: monospace;
  font-size: 14px;
  color: ;
}
