*
{
  margin: 0;
  padding: 0;
}

body
{
  overflow:;
}

#background
{
  width:  100%;
  height: 100vh;
  position: absolute;
}

.background
{
  position: absolute;
  right:  0;
  bottom: -20;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.post
{
  font-family: monospace;
  font-size: 13px;
  text-align: left;
  background: gray;
  padding: 30px;
  width: 900px;
  position: absolute;
  left: 450px;
  top:  150px;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.4);
}

video
{
  text-align: center;
  width:  700px;
  height: 450px;
}

.return
{
  text-align: right;
}

html, body
{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
