*
{
  margin: 0;
  padding: 0;
}

.background
{
  position: absolute;
  right:  0;
  bottom: -10;
  min-width:  100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.post
{
  position:absolute;
  font-family: monospace;
  font-size: 13px;
  text-align: left;
  background: gray;
  padding: 30px;
  width: 900px;
  top:  150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 30%;
  max-width: 900px;
  min-height: 60%;
  max-height: 500px;
  margin: 0 auto;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}

video
{
  text-align: center;
  width:  700px;
  height: 450px;
}

.return
{
  text-align: right;
}

html, body
{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
