*
{
  margin: 0;
  padding: 0;
}

body
{
  overflow:;
}

#background
{
  width:  100%;
  height: 100vh;
  position: absolute;
}

.post
{
  position:absolute;
  font-family: monospace;
  font-size: 13px;
  text-align: left;
  background: gray;
  padding: 30px;
  width: 900px;
  top:  15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 30%;
  max-width: 900px;
  min-height: 60%;
  max-height: 815px;
  margin: 0 auto;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.4);
}

video
{
  text-align: center;
  width:  700px;
  height: 450px;
}

.return
{
  text-align: right;
}
